<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Remix</title>

    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
    <main class="portfolio-canvas-container">
        <div class="portfolio-canvas square">
            <div class="nav-bar-container square">
                <div class="nav-bar">
                    <ul>
                        <li><button name="home" hx-get="/home" hx-target="#content" hx-indicator=".htmx-indicator" hx-swap="innerHTML">Home</button></li>
                        <li><button name="about" hx-get="/about" hx-target="#content" hx-indicator=".htmx-indicator" hx-swap="innerHTML">About Me</button></li>
                        <li><button name="projects" hx-get="/projects" hx-target="#content" hx-indicator=".htmx-indicator" hx-swap="innerHTML">Projects</button></li>
                        <li><button>Credits</button></li>
                    </ul>
                </div>
            </div>
            <div class="content" id="content">
                <div class="home-wrapper">
                    <div class="home">
                        <h1>Derek's Portfolio Remix</h1>
                        <p>HTMX is pretty neat :)</p>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    
    
</body>
</html>