<div class="about-wrapper">
    <div class="about">
        <h1 class="content-h1">About Me</h1>
        <div class="about-content-wrapper">
            <p><span style="font-weight: bold;">Hello! </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, facilis rerum dolores similique temporibus, explicabo debitis, reiciendis natus et ab quidem corporis iure itaque sed neque laborum ipsum maiores accusamus.</p>
            <div class="career-interests">
                <h3>Career Interests</h3>
                <ul>
                    <li>Games</li>
                    <li>Backend</li>
                    <li>Networking</li>
                </ul>
            </div> 
        </div>
              
    </div>
</div>