<div class="projects-wrapper">
    <div class="projects">
        <h1 class="content-h1">My Projects</h1>
        <div class="project-grid-wrapper square">
            <div class="project-grid">
                <div class="project-card square one">
                    <div class="card-banner">
                        <h3>A* Path Visualizer</h3>
                        <p>Try out an interactive pathfinding algorithm visualizer</p>
                    </div>

                </div>
                <div class="project-card square one">
                    <div class="card-banner">
                        <h3>Github Repositories</h3>
                        <p>See what I'm working on now!</p>
                    </div>
                </div>
                <div class="project-card square two">
                    <div class="card-banner">
                        <h3>Published Games</h3>
                        <p>Play some published game jam games</p>
                    </div>
                </div>
                <div class="project-card square two">
                    <div class="card-banner">
                        <h3>Word Masters</h3>
                        <p>Can you guess the word of the day in this Wordle clone?</p>
                    </div>
                </div>
                <div class="project-card square three">
                    <div class="card-banner">
                        <h3>Pac-Man Portal</h3>
                        <p>Eat orbs and shoot portals in this Godot game demo</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>