<div class="projects-wrapper">
    <div class="projects">
        <h1>My Projects</h1>
        <div class="project-grid-wrapper">
            <div class="project-grid">
                <div class="project-card square">
                    <h3>Testing</h3>
                </div>
                <div class="project-card square">
                    <h3>Testing</h3>
                </div>
                <div class="project-card square">
                    <h3>Testing</h3>
                </div>
                <div class="project-card square">
                    <h3>Testing</h3>
                </div>
                <div class="project-card square">
                    <h3>Testing</h3>
                </div>
            </div>
        </div>

    </div>
</div>